<!DOCTYPE html>
<html>
  <head lang="en">
      <meta charset="UTF-8">
      <title></title>

      <link rel="stylesheet" href="css/bootstrap.min.css" />

  </head>
  <body ng-app="pokedex">

  	<div class="container">
  		<h1>Pokésir</h1>

  		<!-- Search -->
  		<div ng-controller="Controller">
			<table>
				<tr>
					<td>
						<input  id="pid"
								type="text"
								placeholder="PokéID"
								class="form-control"
								ng-model="id"/>
					</td>
			    </tr>
				<tr>
					<td>
						<input  id="pname"
								type="text"
								placeholder="PokéNom"
								class="form-control"
								ng-model="name" />
					</td>
				</tr>
				<tr>
					<td>
						<select id="pselect" class="form-control">
							<option ng-repeat="(id, value) in liste | filter: name | filter: id"
								value={{id}}>{{value}}</option>
						</select>
					</td>
				</tr>
				<tr>
					<td>
						<input type="button" class="btn btn-primary" value={{buttonGetValue}} 	ng-click="go()" />
						<input type="button" class="btn btn-warning" value={{buttonResetValue}} ng-click="reset()" />
					</td>
				  </tr>
			</table>
			  
			<!-- Pokémon information -->
			<h1>{{pkmnName}}</h1>
			
			<center><img ng-src="{{srcImg}}" style="max-width:150px"/></center>
			
			<br/><br/>
			
			<p><b>Description</b></p>
			<p>{{description}}</p>
			
			<p><b>Abilities</b></p>
			<ul>
				<li ng-repeat="(id, value) in abilities">{{value}}</li>
			</ul>
			
			<p><b>Type(s)</b></p>
			<ul>
				<li ng-repeat="(id, value) in types">{{value}}</li>
			</ul>
			
			<p><b>Specificities</b></p>
			<table class="table table-striped">
				<tr>
					<th>Attack</th>
					<th>Defense</th>
					<th>Sp_atk</th>
					<th>Sp_def</th>
					<th>Speed</th>
					<th>Height</th>
				</tr>
				
				<tr>
					<td>{{attack}}</td>
					<td>{{defense}}</td>
					<td>{{sp_atk}}</td>
					<td>{{sp_def}}</td>
					<td>{{speed}}</td>
					<td>{{height}}</td>
				</tr>
			</table>
			
			<p><b>Moves</b></p>
			<table class="table table-striped">
				<tr>
					<th>Learn Type</th>
					<th>Name</th>
				</tr>
				<tr ng-repeat="(move_name, move_learn_type) in moveset">
					<td>{{move_learn_type}}</td>
					<td>{{move_name}}</td>
				</tr>
			</table>
        </div>

  	</div>

      <!-- Dependencies -->
      <script src="js/jquery.min.js"></script>
      <script src="js/bootstrap.min.js"></script>
      <script src="js/angular.min.js"></script>
      <script src="js/angular-resource.min.js"></script>

      <!-- Pokedex app -->
      <script src="js/pokedex.js"></script>


  </body>
</html>
