<div ng-controller="Controller">
	<table>
		<tr>
			<td>
				<input  id="pid"
						type="text"
						placeholder="PokéID"
						class="form-control"
						ng-model="id"/>
			</td>
		</tr>
		<tr>
			<td>
				<input  id="pname"
						type="text"
						placeholder="PokéNom"
						class="form-control"
						ng-model="name" />
			</td>
		</tr>
		<tr>
			<td>
				<select id="pselect" class="form-control">
					<option ng-repeat="(id, value) in liste | filter: name | filter: id"
						value={{id}}>{{value}}</option>
				</select>
			</td>
		</tr>
		<tr>
			<td>
				<input type="button" class="btn btn-primary" value={{buttonGetValue}} 	ng-click="go()" />
				<input type="button" class="btn btn-warning" value={{buttonResetValue}} ng-click="reset()" />
				<input type="button" class="btn btn-default" value={{buttonLogValue}} 	ng-click="printLog()" />
			</td>
		</tr>
		<tr>
			<td colspan="2">
				<input type="checkbox" id="cb_voix">Accent Français</input>
			</td>
		</tr>
	</table>
</div>

<div ng-controller="Infos">
	<!-- Pokémon information -->
	<h1>{{pkmnName}}</h1>
	
	<center><img ng-src="{{srcImg}}" style="max-width:150px"/></center>
	
	<br/><br/>
	
	<p><b>Description</b></p>
	<p>{{description}}</p>
	
	<p><b>Abilities</b></p>
	<ul>
		<li ng-repeat="(id, value) in abilities">{{value}}</li>
	</ul>
	
	<p><b>Type(s)</b></p>
	<ul>
		<li ng-repeat="(id, value) in types">{{value}}</li>
	</ul>
	
	<p><b>Specificities</b></p>
	<table class="table table-striped">
		<tr>
			<th>Attack</th>
			<th>Defense</th>
			<th>Sp_atk</th>
			<th>Sp_def</th>
			<th>Speed</th>
			<th>Height</th>
		</tr>
		
		<tr>
			<td>{{attack}}</td>
			<td>{{defense}}</td>
			<td>{{sp_atk}}</td>
			<td>{{sp_def}}</td>
			<td>{{speed}}</td>
			<td>{{height}}</td>
		</tr>
	</table>
	
	<p><b>Moves</b></p>
	<table class="table table-striped">
		<tr>
			<th>Learn Type</th>
			<th>Name</th>
		</tr>
		<tr ng-repeat="(move_name, move_learn_type) in moveset">
			<td>{{move_learn_type}}</td>
			<td>{{move_name}}</td>
		</tr>
	</table>
</div>